<% provide(:title, 'Login') %>
<main class='form-signin'>
  <form>
  <div class='form-floating"'>
    <h1>Welcome</h1>
  </div>

  <div class='form-floating"'>
    <p>Enter four digit PIN number to get started</p>
  </div>

   <%= form_for(:session, url: login_path, authenticity_token: false) do |f| %>
      <div class='form-floating"'>
        <div class='col'>
         <%= f.label :pin_number, 'Pin Number:' %>
        </div>

        <div class='col'>
          <%= f.password_field :pin_number, class: 'form-control' %>
        </div>
      </div>

      <div class='form-floating"'>
        <%= f.submit "Log in", class: "btn btn-primary mt-3" %>
      </div>
    <% end %>
    
      <div class='form-floating"'>
        <div class='col-lg mt-3'>
          <p>New customer? <%= link_to "Sign up", new_customer_path %></p>
        </div>
      </div>
    </div>
  </div>
</main>
