<% provide(:title, 'Login') %>
<div class='container jumbotron'>
  <div class='row justify-content-center'>
    <h1>Welcome</h1>
  </div>

  <div class='row justify-content-center'>
    <p>Enter four digit PIN number to get started</p>
  </div>

   <%= form_for(:session, url: login_path) do |f| %>
      <div class='row justify-content-center'>
        <div class='col-1.5'>
         <%= f.label :pin_number, 'Pin Number:' %>
        </div>

        <div class='col-3'>
          <%= f.password_field :pin_number, class: 'form-control' %>
        </div>
      </div>

      <div class='row justify-content-center p-3'>
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
    <% end %>
    
      <div class='row'>
        <div class='col-lg'>
          <p>New customer? <%= link_to "Sign up", new_customer_path %></p>
        </div>
      </div>
    </div>
  </div>
</div>