<section class="jumbotron">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end"> 
    <%= link_to 'New Account', new_customer_account_path(@customer), class: 'btn btn-secondary float-right' %>
  </div>

  <div class='row'>
    <p>Welcome, <%= current_customer.first_name %> <%= current_customer.last_name %></p>
  </div>

  <h4>Accounts</h4>

  <table class='table'>
    <thead>
      <tr>
        <th scope='col'>Account Number</th>
        <th scope='col'>Balance</th>
        <th scope='col'>Actions</th>
      <tr>
    </thead>
    <tbody>
      <% @accounts.each do |account| %>
        <tr>
          <td><%= account.account_number %></td>
          <td><%= number_to_currency(account.balance) %></td>
          <td><%= link_to 'View Account', customer_account_path(@customer, account), class: 'btn' %></td>
        </tr>
      <% end %>
      </tr>
    </tbody
  </table>
</section>